<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="style.css">
</head>
  <body>
    <h1>Add post</h1>
	<form method="POST" action="/AddPost" enctype="multipart/form-data">
        <table>
            <tr>
                <input type='hidden' name='GroupId' value='{{GroupId}}' >
                <input type='hidden' name='UserId' value='{{UserId}}' >
                <td>
                    post description
                </td>
                <td>
                    <input type="text" name="PostDescription" id="PostName">
                </td>
            </tr>
            <tr>
                <td>
                    upload post
                </td>
                <td>
                    <input type = "file" name = "file" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit">
                </td>
            </tr>
            <tr>
                <form action="/logOut" method="post">
                    <input type="submit" value="back">
                  </form>
            </tr>
        </table>
    </form>
    <form>
        
    </form>
  </body>
</html>