<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="style.css">
    <script src="../static/LoginValidation.js"></script>
</head>
  <body>
    <h1>Login</h1>
    <table id="example" class="table table-striped table-bordered display" style="width:100%" border='5'>
       
      
    </table>